html{
scroll-behavior: smooth;
}

.sidebar {
  position: fixed;
  height: 100vh;
  background-color: #37474F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80px;
}

.sidebarleft{
  position: fixed;
  display:flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;

  left:0;
  top:0;
}
.sidebarright{
  position: fixed;
  display:flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;

  right: 0;
  top:0;
}

.sidebarleft li{
  display: flex;
  transform: rotate(-90deg);
  padding: 40px;
  color: white;
  top: 50%;
  flex: 1;
  justify-content: space-between;
}

.sidebarright li{
  display: flex;
  transform: rotate(90deg);
  top: 50%;
  color: white;
  flex: 1;
  padding: 50px;
  justify-content: space-between;
}
.sidebar ul{
  list-style: none;
  margin-left:0;
  padding-left:0;
}
.sidebar a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.btnContact{
  background-color: #37474F;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  margin: auto;
}
@media screen and (max-width: 640px) {
  .sidebar{
    width: 40px;
  }
  .sidebar a{
    font-size: 18px;
  }
}
