html{
scroll-behavior: smooth;
}
body{
  margin : 20px;
}
.projetcentrer img{
  max-height: 10rem;
}
.sidebar {
  height: 100vh;
  background-color: #37474F;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 100%;
  width: 80px;
}
.item{
  display: flex;
  flex-wrap: nowrap;
}
.sidebarleft{
  position: fixed;
  display:flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;

  height: 100%;
  width: 80px;
  left:0;
  top:0;
}
.sidebarright{
  position: fixed;
  display:flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;

  right: 0;
  top:0;
}
.sidebar div{
    flex:1;
}
.sidebar span{
  opacity:0;
}
.sidebarleft .item{
  transform: rotate(-90deg) translate(-50%, 0%);
  left: 0;
  /* padding: 40px; */
  color: white;
}

.sidebarright .item{
  transform: rotate(90deg) translate(100%, 0%);
  /* top: 50%; */
  color: white;
  flex: 1;
  /* padding: 50px; */
}
.sidebar a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0;
}
.btnContact{
  background-color: #37474F;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  margin: auto;
}
.logocontact{
  width: 50px;
  height: 50px;
}
.projetcentrer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.iconeComp{
  width: 2rem;
  height: 2rem;
}
.logoCompetences{
  width: 80vh;
  height: auto;
}
.logoCompetences img{
  height:5rem;
  width: 5rem;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .sidebar{
    width: 40px;
  }
  .sidebar a{
    font-size: 18px;
  }
  .content{
    margin: auto;
    width: 40vh;
  }
  .logocontact{
    width: 30px;
    height: 30px;
  }
}
