@import "../utils/variables";

html{
scroll-behavior: smooth;
}
h1, h2, h3, h4{
  font-family: 'Poppins';
  text-align: center;
  margin:{
    top: 1rem;
    bottom:2rem;
  }
}
body{
  margin : 20px;
  font-family: 'Mulish';
}
a{
  text-decoration: none;
}
