@import "../utils/variables";

//Introduction

.quote{
  font-size: 20px;
  font-weight: bold;
}

//Competence

.iconeComp{
  width: 2rem;
  height: 2rem;
}

.logoCompetences{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  img{
    height:5rem;
    width: 5rem;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    margin:{
      top: 2rem;
      bottom: 1rem;
    }
  }
}
.textcomp{
  text-align: center;
}
#btncompetence{
  display: none;
  justify-content: center;
  margin: auto;
  background-color: $BackgroundLight;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  &:hover{
    background-color: $BackgroundDark;
  }
}
#competencehtml{
  display: none;
}
#competencecss{
  display: none;
}
#competencebootstrap{
  display: none;
}
#competencephp{
  display: none;
}
#competencewp{
  display: none;
}
#competencejs{
  display: none;
}

//projet

.projetcentrer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.projetcentrer img{
  max-height: 10rem;
}

.imgprojet{
  width: 100%;
}
.btncardprojet{
  background-color: $BackgroundLight;
  color: white;
  border: none;
  &:hover{
    background-color: $BackgroundDark;
  }
}
.btnprojet{
  background-color: $BackgroundLight;
  font-family: 'Poppins';
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
  padding:0.5rem;
  border-radius: 10px;
  border: none;
  &:hover{
    background-color: $BackgroundDark;
  }
}

//contact
.btnContact{
  background-color: $BackgroundLight;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  margin: auto;
  &:hover{
    background-color: $BackgroundDark;
    color: white;
  }
}
.logocontact{
  width: 50px;
  height: 50px;
}

.contactform{
  width: 60%;
}
