@media screen and (max-width: 640px) {

  .logoJB{
    height: 15rem;
  }
  .avatar{
    display: none;
  }
  .sidebar{
    width: 40px;
  }
  .sidebar a{
    font-size: 18px;
  }
  .content{
    margin: auto;
    width: 40vh;
  }
  .logocontact{
    width: 30px;
    height: 30px;
  }
  .contactform{
    width: 80%;
  }
  .pageprojet{
    img{
      max-width: 100%;
    }
  }
  .txtprojet{
    width: 70%;
    margin: auto;
  }
  #footernav{
    img{
      width: 5em;
      margin: auto;
      text-align: center;
    }
    .burger{
      display: flex;
    }
  }
  .footmenu{
    a{
      display: none;
    }
  }
  .responsive{
    a{
      display: flex;
    }
    a:not(:first-child){
      width: auto;
      margin: auto;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  }
}
