@media screen and (max-width: 640px) {
  .avatar{
    display: none;
  }
  .sidebar{
    width: 40px;
  }
  .sidebar a{
    font-size: 18px;
  }
  .content{
    margin: auto;
    width: 40vh;
  }
  .logocontact{
    width: 30px;
    height: 30px;
  }
  .contactform{
    width: 80%;
  }
  .pageprojet{
    img{
      max-width: 100%;
    }
  }
  .txtprojet{
    width: 70%;
    margin: auto;
  }
}
