@import "../utils/variables";
.pageprojet{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  img{
    max-width: 50%;
  }
}
.titreProjet{
  text-align: center;
  padding:{
    bottom: 3rem;
  }
}
.imgprojet{
  margin: auto;
  padding: 2rem;
}
.navbar{
  display: flex;
  width: 80%;
  margin: auto;
}
.navbarprojets{
  background-color: white;
  ul{
    li{
      list-style-type: none;
      .nav-link{
        color: $BackgroundDark;
        font-size: 1.5rem;
        &:hover{
          background-color: $BackgroundDark;
          color : white;
          font-size: 2rem;
        }
      }

    }
  }
}
